name: CI

on:
    push:
        branches: ["**"]
    pull_request:
        branches: ["**"]

jobs:
    test-and-lint:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [3.11, 3.12]
        steps:
            - uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install pip and dev dependencies
              run: python -m pip install --upgrade pip && python -m pip install -r requirements-dev.txt
            - name: Run tests with coverage
              run: tox -e py -- pytest --cov=src --cov-report=xml:coverage.xml
            - name: Upload coverage artifact
              uses: actions/upload-artifact@v4
              with:
                  name: coverage-report
                  path: coverage.xml
            - name: Run lint
              run: tox -e lint
